<% for (var k in comments) { %>
<hr>

<div class="row">
    <div class="col-md-12">
        <span class="glyphicon <%= (comments[k].note >= 1) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
        <span class="glyphicon <%= (comments[k].note >= 2) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
        <span class="glyphicon <%= (comments[k].note >= 3) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
        <%= comments[k].pseudo %>
        <span class="pull-right"><%= comments[k].date_creation %></span>
        <p><%= comments[k].text %></p>
    </div>
</div>

<% }%>