<!DOCTYPE html>
<html lang="fr">
<% title = recette.nom_recette %>
<% include header.ejs %>
<body>
<% include navigation.ejs %>

<!-- Page Content -->
<div class="container">
<h3>Historique des modifications de la recette 
    <a href="/recette/<%= recette.id_recette %>"> <%= recette.nom_recette %></a>
</h3>
    <div class="row">
    <% for (var i in historique) { %>
        <div class="panel panel-default">
            <div class="panel-heading">Modification le <%= historique[i].to_char %> par <%= historique[i].pseudonyme %>
            </div>
            <div class="panel-body">
                <p><%= historique[i].texte_concerne %></p>
            </div> 
        </div>
    <% } %>  
    </div>
<!-- /.container -->

<% include footer.ejs %>
</body>
</html>