<!DOCTYPE html>
<html lang="fr">
    <% title = recette.nom_recette %>
    <% include header.ejs %>
<body>
    <% include navigation.ejs %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive img-thumbnail" src="/images/<%= recette.id_recette%>.jpg" alt="">
                <div class="caption-full">
                    <p class="pull-right"> Crée le <%= recette.date_creation_recette%></p>
                    <h4><a href="#"><%= recette.nom_recette %></a></h4>
                    <div class="row infos-recette">
                        <div class="col-xs-3 col-xs-push-4 col-sm-2 col-sm-push-7">
                            <p class="pull-right">
                                <span class="glyphicon glyphicon-time"></span> <%= recette.temps_preparation %>
                            </p>
                        </div>
                        <div class="col-xs-3 col-xs-push-4 col-sm-2 col-sm-push-7">
                            <p class="pull-right">
                                <span class="glyphicon glyphicon-fire"></span> <%= recette.temps_cuisson %>
                            </p>
                        </div>
                        <div class="col-xs-2 col-xs-push-4 col-sm-1 col-sm-push-7">
                            <p class="pull-right">
                                <span class="glyphicon glyphicon-user"></span> <%= recette.nombre_personnes %>
                            </p>
                        </div>
                    </div>

                    <p><%= recette.texte_preparation %></p>
                </div>

                <div class="ratings">
                    <p class="pull-right"><%= comments.length %> commentaires</p>
                    <p>
                        <span class="glyphicon <%= (note.moyenne >= 1) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
                        <span class="glyphicon <%= (note.moyenne >= 2) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
                        <span class="glyphicon <%= (note.moyenne >= 3) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
                        <%= Number(note.moyenne).toFixed(2) %> étoiles
                    </p>
                </div>
            </div>

            <div class="well">

                <div class="text-right">
                    <a class="btn btn-success">Laisser un commentaire</a>
                </div>

                <% for (var i in comments) { %>
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon <%= (comments[i].note >= 1) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
                        <span class="glyphicon <%= (comments[i].note >= 2) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
                        <span class="glyphicon <%= (comments[i].note >= 3) ? "glyphicon-star" : "glyphicon-star-empty";%>"></span>
                        <%= comments[i].pseudo %>
                        <span class="pull-right"><%= comments[i].date_creation %></span>
                        <p><%= comments[i].text %></p>
                    </div>
                </div>

                <% }%>

            </div>

        </div>

        <div class="col-md-3">
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <caption>
                    <h3> Liste des ingrédients</h3>
                </caption>
                <thead>
                    <tr>
                        <th>Nom ingrédient</th>
                        <th>Quantité</th>
                        <th>Unité</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i in ingredients) { %>
                    <tr>
                        <td><%= ingredients[i].ingredient %></td>
                        <td><%= (ingredients[i].quantite != 0) ? ingredients[i].quantite : ""; %></td>
                        <td><%= ingredients[i].unite %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <h3> Catégories</h3>
            <div class="list-group">
                <% for (var i in categories) { %>
                <a href="#" class="list-group-item"><%= categories[i].nom_categorie%></a>
                <% } %>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

<% include footer.ejs%>

</body>
</html>