<!DOCTYPE html>
<html lang="fr">
<% title = 'recherche recette' %>
<% include header.ejs %>
<body>
<% include navigation.ejs %>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input id="form-name" type="text" class="form-control" placeholder="Cherchez une recette"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div id="toggle-advanced-search" class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="filter">Catégorie</label>
                                        <select id="form-categorie" class="form-control">
                                            <option value="-1" selected>Aucune</option>
                                            <% categories.forEach(function (category) { %>
                                            <option value="<%= category.id_categorie %>"><%= category.nom_categorie %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">
                                            Ingrédients contenus
                                        </label>
                                        <div class="panel panel-default" id="ingredients">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <% ingredients.forEach(function (ingredient) { %>
                                                    <div class="col-md-6">
                                                        <div class="checkbox abc-checkbox">
                                                            <input type="checkbox"
                                                                   id="checkbox<%= ingredient.id_ingredient %>"
                                                                   value="<%= ingredient.id_ingredient %>">
                                                            <label for="checkbox<%= ingredient.id_ingredient %>">
                                                                <%= ingredient.nom_ingredient %>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Nombre de personnes minimum</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default btn-number"
                                                      disabled="disabled" data-type="minus" data-field="quant1[1]">
                                                  <span class="glyphicon glyphicon-minus"></span>
                                              </button>
                                          </span>
                                            <input id="form-person-min" type="text" name="quant1[1]" class="form-control input-number"
                                                   value="1" min="1" max="10">
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default btn-number" data-type="plus"
                                                      data-field="quant1[1]">
                                                  <span class="glyphicon glyphicon-plus"></span>
                                              </button>
                                          </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Note moyenne minimum</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default btn-number"
                                                      disabled="disabled" data-type="minus" data-field="quant2[1]">
                                                  <span class="glyphicon glyphicon-minus"></span>
                                              </button>
                                          </span>
                                            <input id="form-rate-min" type="text" name="quant2[1]" class="form-control input-number"
                                                   value="0" min="0" max="3">
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default btn-number" data-type="plus"
                                                      data-field="quant2[1]">
                                                  <span class="glyphicon glyphicon-plus"></span>
                                              </button>
                                          </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="search-button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="item-template" class="col-sm-4 col-lg-4 col-md-4" style="display: none">
        <div class="thumbnail">
            <img class="item-picture" src="/images/0.jpg" alt="">
            <div class="caption">
                <p class="pull-right">
                    <span class="glyphicon glyphicon-user"></span> <span class="item-nombre-personnes">8</span>
                </p>
                <h4><a class="item-url" href="#"><span class="item-nom">Gigot d'agneau aux cêpes</span></a></h4>
                <h5 style="font-weight: bold"><span class="item-categories"> Gigot, Plat, ... </span></h5>
            </div>
            <div class="ratings">
                <p class="pull-right"><span class="item-nombre-commentaire">12 commentaires</span></p>
                <p class="item-etoiles">
                    <span class="item-rating">2.00 étoiles</span>
                </p>
            </div>
        </div>
    </div>

    <div id="search-results" class="row">

    </div>
</div>
<!-- /.container -->

<% include footer.ejs %>
<script src="/js/search.js"></script>

</body>
</html>